body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  background: #0e0e0e url("https://live.staticflickr.com/2804/4428561177_831c2f9269_b.jpg") no-repeat fixed center;
  color: white;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:link {
  color: #FF55FF;
}

a:visited {
  color: greenyellow;
}

a:hover {
  cursor: pointer;
}

/* NAVBAR */
nav {
  z-index: 2;
  position: fixed;
  top: 0;
  background: #4c1992;
  width: 100%;
  text-shadow: 0.08em 0.14em #00908b;
  border-bottom: 1px ridge darkslategray;
}

nav a:link,
nav a:visited {
  color: white;
  text-decoration: 1px solid #4c1992;
}

nav a:hover,
.navlink-one a:hover {
  font-weight: bolder;
  /* text-shadow: 0.08em 0.14em darkgreen; */
  text-shadow: 0.16em 0.28em #00908b;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#navlink-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  font-weight: bold;
  margin: 0.4em;
  width: 100vw;
}

@media (min-width: 781px) {
  #navlink-container {
    height: 5vh;
  }
  .page-container {
    margin-top: 7vh;
  }
}

@media (min-width: 413px) and (max-width: 780px) {
  #navlink-container {
    height: 12vh;
  }
  .page-container {
    margin-top: 14vh;
  }
}

@media (max-width: 412px) {
  #navlink-container {
    height: 18vh;
  }
  .page-container {
    margin-top: 20vh;
  }
}

.navlink-one {
  color: white;
  font-size: 1.2em;
  font-variant: small-caps;
  padding: 0.5em;
}

/* FOOTER */
#footer {
  z-index: 2;
  position: fixed;
  display: flex;
  justify-content: center;
  text-align: center;
  bottom: 0;
  width: 100%;
  max-height: 10vh;
  border-top: 1px ridge darkslategray;
  background: #4c1992;
  color: white;
  text-shadow: 0.075em 0.12em #00908b;
  font-size: small;
}

#footer-text {
  margin: 0.3em;
}

/* BODY */
.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vw;
}

.sm-cap {
  font-variant: small-caps;
}

.page-container > h1 {
  text-shadow: 0.08em 0.14em #00908b;
}

.page-container > h1,
.page-container > h2,
.page-container > h3,
.page-container > h4,
.page-container > h5,
.page-container > img {
  background-color: #212eb1;
  padding: .7em;
  margin: 1vw;
  box-shadow: .77vw .77vh navajowhite;
}

.page-container > div,
.page-container > p,
.page-container > ul {
  background-color: #00908b;
  padding: .7em;
  margin: 1vw;
  box-shadow: .77vw .77vh navajowhite;
}

#ourstory-container > .hers {
  background-color: #4c1992;
}

#ourstory-container > .his {
  background-color: #212eb1;
}

#ourstory-container > h2,
#registry-container > h3 {
  background-color: #00908b;
}

#attractions-container .wide-left {
  margin-left: 2vw;
}

/* HOME */
#homepage-pic {
  max-width: 55vw;
}

/* REGISTRY */
#registry-container {
  text-align: center;
}

#money-categories,
#traditional-registries,
#money-links,
#easy-money {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}

#easy-money {
  flex-direction: column;
}

@media (max-width: 412px) {
  #money-categories,
  #traditional-registries,
  #money-links {
  flex-direction: column;
  }
  .icon {
    max-height: 22vw;
  }
  .small-image {
    max-width: 83vw;
  }
  .registry {
    padding: 1vw;
    max-width: 88vw;
  }
  #registry-container {
    margin-bottom: 8.7vh;
  }
}

@media (min-width: 413px) {
  .icon {
    max-height: 6vw;
    max-width: 16vw;
  }
  .small-image {
    max-width: 31vw;
  }
  .registry {
    padding: 1vw;
    max-width: 31vw;
  }
}
